<div class="container">
  <div class="row">
    <div class="col-10 mx-auto my-4">
      <section id="about-contents" class="text-center">
        <h4 class="mb-4">Vegicircle（ベジサークル）について</h4>
        <p>vegecircleは、誰にも届くことなく消えていく食材を
          <br>その土地に住まわれる皆様へ繋ぐマッチングサイトです。</p>

        <p>母の実家へ遊びに行ったとき、規格に合わず、売れない野菜をトラクターで轢きながら
          <br>畑と混ぜていく景色を見たときの衝撃は今でも忘れられません。</p>

        <p>一時だけではなく、この先もずっとフードロスを減らす仕組みを作りたいと考えたとき、行きついた答えが、</p>
        <h5>「地産地消」そして「食育」でした。</h5><br>

        <p>ぜひ、このサイトを通じて身近な<strong>直売所</strong>に出向いていただき、おいしい食材を召し上がってください。
          <br>見慣れぬ食材で献立に迷われたら、<strong>レシピ</strong>もございます。
          <br>お子さんとの時間を増やしたい、お出かけしたいときには「<strong>農業体験</strong>」はいかがでしょうか。</p>

        <p>失われていく命を、その土地のみんなで美味しくいただき、
        <br>農家さん、住民の皆さま、地元の食材を丸く繋いでいく。</p>

        <p>そんな気持ちを込めて、「vegetable（野菜）」と「circle（円）」を掛け合わせ、「<strong>vegecircle</strong>」はできました。</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div id="container" class="mx-auto mb-5">
      <div id="theTarget">
        <div class="image1"></div>
        <div class="image2"></div>
        <div class="image3"></div>
        <div class="image4"></div>
        <div class="image5"></div>
      </div>
    </div>
  </div>
</div>