<section id="mv">
  <div class="container">
    <div class="row" id="mv-message">
      <div class="col-10 col-md-4 offset-1">
        <%= image_tag asset_path('top/main_logo.png'), class: "img-fluid" %>
      </div>
        <div class="m-auto text-center">
          <h2 class="my-5">べ ジ サ ー ク ル</h2>
          <p>誰にも届かないまま消えていく大切ないのちを</p>
          <p>生まれた土地で、おいしくいただく。</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-contents" class="my-4">
  <div class="side-bar">
    <h5 class="text-center">エリアから探す</h5>
  </div>
  <div class="main-content">
    <div class="form-group mb-4">
      <h5>新着農家</h5>
    </div>
    <div class="form-group mb-4">
      <h5>おすすめレシピ</h5>
    </div>
    <div class="form-group mb-4">
      <h5>新着農業体験</h5>
    </div>
  </div>
</section>