<div class="container">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto">
      <h4 class="mb-4">農家さん一覧</h4>
    </div>
    <div class="col-10 mx-auto col-md-3 offset-md-1 side-bar">
      <h6 class="text-center">エリアから探す</h6>
      <%= render 'searches/farmer_area', regions: @regions %>
    </div>
    <div class="col-md-8 main-content d-none d-md-block">
      <div class="mb-3">
      <%= render 'searches/farmer_search' %>
      </div>
      <%= render 'customers/farmers/index', farmers: @farmers %>
      <%= paginate @farmers %>
    </div>
  </div>
</div>
