<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2><%= @customer.nickname %>　さま</h2>
    <p>vegecircleへのご登録、誠にありがとうございます！<br>会員登録が完了いたしました。</p>

    <p>当サイトでは、会員登録後は主に以下の機能を追加でご利用いただくことが可能です。</p>

    <ul>
      <li>農家さんのフォロー機能</li>
      <li>農家さんへのレビュー</li>
      <li>農業体験へのご予約・参加</li>
      <li>レシピ / 農業体験のいいね機能</li>
    </ul>

    <p>このサイトにログインするには、@urlをクリックしてください。</p>
    <p>どうぞお楽しみくださいませ。</p><br>
    <p>-- vegecircle 管理者 --</p>
  </body>
</html>