<% if notices.present? %>
  <% notices.each do |notice| %>
    <div class="bottom-borderd py-3">
      <%= show_content_of_customers(notice) %><%= "（" + time_ago_in_words(notice.created_at) + "前）" %>
    </div>
  <% end %>
<% else %>
  <p class="pt-3">通知はありません</p>
<% end %>
