<div class="container">
  <div class="row">
    <div class="col-7 mx-auto">
      <h3 class="text-center">通知</h3>
      <div class="bottom-borderd py-3">
        <%= link_to " すべて削除", notices_destroy_all_path, method: :delete, class: "fas fa-trash text-dark font-weight-bold" %>
      </div>
      <%= render 'customers/notices/index', notices: @notices %>
    </div>
  </div>
</div>