// Place all the styles related to the customers::homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// top
#mv {
  width: 100%;
  height: 650px;
  background-image: image-url("top/main_img.jpg");
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

#mv-message {
  color: black;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 40px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#main-contents {
  width: 100%;
  font-size: 17px;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

//side-bar
.side-bar {
  width: 25%;
  float: left;
  overflow: hidden;
}

.main-content {
  width: 75%;
  float: right;
  padding-left: 3%;
}

// about => skippr
#container {
  width: 80%;
  height: 500px;
}

.image1 {
  background-image: image-url("about/image1.jpg");
}
.image2 {
  background-image: image-url("about/image2.jpg");
}
.image3 {
  background-image: image-url("about/image3.jpg");
}
.image4 {
  background-image: image-url("about/image4.jpg");
}
.image5 {
  background-image: image-url("about/image5.jpg");
}
