<div class="container">
  <div class="row">
    <div class="col-10 col-md-8 mx-auto mb-2 event">
      <p>ご予約内容をご確認いただき、問題なければ「予約する」をクリックしてください。</p>
      <%= render 'customers/reservations/show', event: @event, schedule: @schedule, reservation: @reservation %>
    </div>
  </div>

  <div class="row">
    <div class="col-10 col-md-8 mx-auto mb-2 event">
      <%= render "farmers/events/access", event: @event %>
      <div class="form-group d-flex mt-3 mt-3">
        <%= link_to "予約する", event_schedule_reservations_path(@event, @schedule), method: :post, class: "btn btn-success mr-3" %>
        <%= link_to "戻る",  event_schedule_reservations_back_path(@event, @schedule), method: :post, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>