<div class="container">
  <div class="row">
    <div class="col-11 col-md-10 mx-auto">
      <h4 class="mb-4">予約中の農業体験一覧</h4>
      <%= render 'customers/reservations/reserved_index', reservations: @reservations %>
    </div>
  </div>
</div>