<div class="container">
  <div class="row">
    <div class="col-10 mx-auto mt-5">
      <h5>ご予約ありがとうございました！</h5>
      <p>ご予約完了のメールが届きますので、ご予約内容をご確認いただきますようお願いいたします。</p>
      <div class="form-group form-row mt-5">
        <%= link_to "予約詳細ページへ", event_schedule_reservation_path(@event, @schedule, @reservation), class: "btn btn-secondary mr-3" %>
        <%= link_to "マイページへ戻る", profiles_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

