<div class="search-area-group mt-3">
  <% @regions.each do |region_name, prefectures| %>
  <div class="form-group">
    <h6>
      <%= region_name %>
    </h6>
    <% prefectures.each do |prefecture| %>
     <%= link_to prefecture, search_path(prefecture: prefecture, model: 'farmer') %>
    <% end %>
    </div>
  <% end %>
</div>