// Place all the styles related to the farmers::farmers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// slide-show(skippr)
.slideshow img {
  height: 30vw;
  max-height: 300px;
  min-height: 300px;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

// simple-calender
.simple-calendar {
  font-family: "Meiryo", sans-serif;

  th:nth-child(6) {
    background-color: #cce5ff;
  }
  th:nth-child(7) {
    background-color: #ffcccc;
  }

  .wday-0 {
    color: #f62e36;
  }
  .wday-6 {
    color: #0079c2;
  }

  .title {
    background-color: #ceff9e;
    border-radius: 10px;
    padding: 5px;
  }
}

.circle-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #82ae46;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: white;
  position: fixed;
  right: 35px;
  bottom: 35px;
}
