<h5 class="mb-2">アクセス</h5>
<table class="table mb-2">
  <tbody>
    <tr>
      <th>集合場所</th>
      <td><%= event.location %></td>
    </tr>
    <tr>
      <th>アクセス方法</th>
      <td><%= event.access %></td>
    </tr>
    <tr>
      <th>駐車場</th>
      <td><%= @event.parking %></td>
    </tr>
  </tbody>
</table>
