<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h6><%= @farmer.name %>　さま</h6>
    <p>vegecircleへのご登録、誠にありがとうございます！<br>会員登録が完了いたしました。</p>

    <p>当サイトでは、会員登録後は主に以下の機能を追加でご利用いただくことが可能です。</p>

    <ul>
      <li>直売所住所などの情報公開</li>
      <li>レシピ投稿機能</li>
      <li>農業体験の投稿・募集・農業体験に関するお客様とのチャット機能</li>
      <li>レビュー内容の確認</li>
      <li>お知らせ事項の投稿</li>
    </ul>

    <p>ログインは、こちらのurlよりアクセスをお願いいたします。 ⇒　<%= @url %></p>
    <p>どうぞお楽しみくださいませ。</p><br>
    <p>-- vegecircle 管理者 --</p>
  </body>
</html>