/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import "slick";
@import "simple_calendar";

// 全般
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #2f2f2f;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

main {
  flex: 1;
}

a:hover {
  text-decoration: none;
}

li {
  text-align: left;
}

h4 {
  text-align: center;
}

h6 {
  font-weight: bold;
}

.bg-gray {
  background-color: #e9e9e9;
}

// header
header {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}

.header_logo {
  width: auto;
  height: 65px;
}

// footer
footer {
  width: 100%;
  height: auto;
  background-color: #c3c3c3;
  bottom: 0;
}

.footer_links {
  margin: 10px auto;
}

.footer_links th, .footer_links td {
  width: 150px;
  padding: 4px 0;
  text-align: center;
}

.footer_links a {
  color: #2f2f2f;
  text-decoration: none;
}

.copyright {
  color: white;
  text-align: center;
}

// kaminari
.pagination>li>a {
  border: none;
  color: #696969;
}

.padination>.active>a {
  border-radius: 50%;
}

.pagination>li>a:hover {
  border-radius: 50%;
}

// devise
.sign {
  border: 3px solid #e0e0e0;
}

// form関連
.btn {
  font-size: 14px;
}

.required {
  color: red;
}

// farmer
.cell-pl {
  padding-left: 10px;
}

// 画像リサイズ
.farm_pictures {
  width: 300px;
  height: auto;
}

// タグ
.tag p {
	position: relative;
	display: inline-block;
	margin: 0 .6em .6em .6em;
	padding: .6em .6em .6em 1.2em;
	line-height: 1;
	color: #2f2f2f;
	text-decoration: none;
	background-color: #d1ffa3;
}

.tag p:before {
	position: absolute;
	top: 0;
	left: -1em;
	content: '';
	border-width: 1.1em 1em 1.1em 0;
	border-style: solid;
	border-color: transparent #d1ffa3 transparent transparent;
}

.tag p:after {
	position: absolute;
	top: center;
	left: 0;
	content: '●';
	color: #fff;
}

// index
.list-box {
  width: 20%;
}

// table
.event th {
  background-color: #c3c3c3;
}

.review {
  border-bottom: 1px solid #ddd;
}

// google map => farmers/customers event, farmer
#map {
  height: 300px;
  width: 95%;
}